## Discord Webhook & Token
DISCORD_WEBHOOK=""
DISCORD_TOKEN=""

## Fortnite DeviceAuth Info
CLIENT_ACCOUNTID=""
CLIENT_DEVICEID=""
CLIENT_SECRET=""

## Fortnite DeviceAuth Info for Discord (discordUsername + "_" + type)
mq_julus_accountId=""
mq_julus_deviceId=""
mq_julus_secret=""